flows/openparl_ingest.yml
id: openparl_ingest
namespace: deng
description: |
  Fetches votes and voting data from the Swiss Parliament API (swissparlpy)
  and writes them to Google Cloud Storag in csv format.

# Sharing resources across our different tasks
variables:
  chunksize: 8388608
  filepath: "output"

inputs:
  - id: since
    type: DATE
    displayName: Select the start date of the ingest
  - id: until
    type: DATE
    displayName: Select the until date of the ingest

tasks:
  - id: ingest_votes
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - "*.pkl"
    script: |
      import dataconnector as dc
      import dataingest as di
      import pandas as pd
      import os
      from datetime import datetime 

      CREDENTIALS_FILE = os.getenv("GOOGLE_CREDENTIALS")
      PROJECT_NAME = os.getenv("PROJECT_NAME")
      BUCKET_NAME = os.getenv("BUCKET_NAME")
      FILE_PATH = "{{ vars.filepath }}"
      CHUNKSIZE = "{{ vars.chunksize }}"
      now = datetime.now().strftime("%Y%m%d_%H%M%S")


      os.makedirs(FILE_PATH, exist_ok=True)

      gcsc = di.gcs_connector(CREDENTIALS_FILE, BUCKET_NAME)

      print("Starting Pipeline")

      __location__ = os.path.realpath(os.getcwd())
      path = os.path.join(__location__, "voting")

      print("Getting votes...")
      votes = dc.get_votes(since, until)

      dfvotes = pd.DataFrame(votes)

      print(f"Got {len(dfvotes)} Votes")

      dfvotes.to_csv(f"{FILE_PATH}/votes_{since}_{until}_{now}.csv")

      print("Uploading Votes")
      gcsc.upload_to_gcs(f"{FILE_PATH}/votes_{since}_{until}_{now}.csv", CHUNKSIZE)

      dfvotes.to_pickle('votes.pkl')

      print("Finished Uploading Votes")

  - id: ingest_voting
    type: io.kestra.plugin.scripts.python.Script
    inputFiles:
      votes.pkl: "{{ outputs.ingest_votes.outputFiles['votes.pkl'] }}"
    outputFiles:
      - "*.pkl"
    script: |
      import dataconnector as dc
      import dataingest as di
      import pandas as pd
      import os
      from datetime import datetime
      now = datetime.now().strftime("%Y%m%d_%H%M%S") 

      CREDENTIALS_FILE = os.getenv("GOOGLE_CREDENTIALS")
      PROJECT_NAME = os.getenv("PROJECT_NAME")
      BUCKET_NAME = os.getenv("BUCKET_NAME")
      FILEPATH = "{{ vars.filepath }}"
      CHUNKSIZE = "{{ vars.chunksize }}"

      since = "{{ inputs.since }}"
      until = "{{ inputs.until }}"


      os.makedirs(FILE_PATH, exist_ok=True)

      gcsc = di.gcs_connector(CREDENTIALS_FILE, BUCKET_NAME)

      print("Starting Pipeline")

      __location__ = os.path.realpath(os.getcwd())
      path = os.path.join(__location__, "voting")

      # Get the votes from the pickle file (output of last task)
      dfvotes = pd.read_pickle('votes.pkl')

      print("Getting vortings...")
      dfvoting = dc.get_voting_of_votes(dfvotes.to_dict('records'), path)

      dfvoting.to_csv(f"{FILE_PATH}/votings_{since}_{until}_{now}.csv")
      print(f"Got {len(dfvoting)} Votings")

      print("Uploading Votings")
      gcsc.upload_to_gcs(f"{FILE_PATH}/votings_{since}_{until}_{now}.csv", CHUNK_SIZE)

      print("Finished UPLOADING Votings")

pluginDefaults:
  - type: io.kestra.plugin.scripts.python.Script
    values:
      taskRunner:
        type: io.kestra.plugin.scripts.runner.docker.Docker
        env:
          GOOGLE_CREDENTIALS: "{{ envs.GOOGLE_CREDENTIALS }}"
          PROJECT_NAME: "{{ envs.PROJECT_NAME }}"
          BUCKET_NAME: "{{ envs.BUCKET_NAME }}"
        networkMode: deng_default
        pullPolicy: NEVER
      containerImage: openparl-python:latest
      inputFiles:
        dataingest.py: "file:///app/scripts/dataingest.py"
        datatransform.py: "file:///app/scripts/datatransform.py"
        dataconnector.py: "file:///app/scripts/dataconnector.py"

triggers:
  - id: weekly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 * * 1" # Every Monday, 6 AM
